/* General Styles */
body .desktop-header {
  text-align: left;
  margin-bottom: 160px;
  margin-top: 100px!important;
}
.desktop-header hr {
  padding-top: 40px;
}

.desktop-header h1 {
  font-size: 4em;
}

.desktop-header h3 {
  font-size: 1.7em;
}

.contact-header-container {
  height: 250px;
  width: 30%!important;
  padding-top: 40px;
}

.contact-header-container h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 6em;
}

.submit-button {
    color: white;
    background-color: #121212;
    height: 50px;
    width: 80px;
    font-family: body-content;
    font-weight: bold;
}

.contact-info {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-info .footer-container {
  width: 40%;
  position: relative;
  margin: 0 auto!important;
}


@media only screen and (min-width:601px) {

}
