/* Top Bar Desktop styles */
@media screen and (min-width: 641px) {
  .mobile-topbar {
    display: none;
  }

  .top-bar {
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  body .top-bar, body .top-bar-right, body .top-bar-right .navigation {
    background-color: white;
  }

  .top-bar-right li a {
    color: black;
  }

  .top-bar li {
      color: white;
      padding: 10px;
      text-align: center;
      margin-right: 60px;
      font-size: .9em;
      font-weight: 500;
      border: 1px solid transparent;
      transition: border 1s;
  }

  .top-bar li:hover {
      cursor: pointer;
      border: 1px solid black;
  }

  .top-bar .top-bar-left:hover {
    cursor: pointer;
  }
}
