
.hire-me-icon-container img {
    border-radius: 50%;
}

.section-container .hire-me-icon-container {
    text-align: center;
}

.section-container .hire-me-icon {
    font-size: 13em;
    position: relative;
    height: 30%;
}
