.social-buttons ul {
  font-size: 1.8em;
  padding-right: 55px;
}

.social-buttons ul:hover {
  cursor: pointer;
}

.social-buttons ul li {
  padding-right: 8px;
}

@media screen and (max-width: 640px) {
  .social-buttons {
    padding-right: 25px;
  }
}
