.center-text {
  text-align: center;
}

.center-element {
  margin: 0 auto;
}

.index hr {
  width: 30%;
  margin-top: 40px;
  margin-bottom: 40px;
}

body .hide-on-mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  body {
    padding: 16px;
  }
}
